.card {
    background-color: #2397c528;
    width: max-content;
    min-width: 200px;
    border-color: black;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.btn-container {
    width: max-content;
}